@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.titlemsg {
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  font-weight: 500;
  margin: 1rem;
}
.registerpage {
  margin-top: 3rem;
}
.registerform {
  margin-top: 1rem;
  background-color: whitesmoke;
  margin: 0 5rem;
  border-radius: 1rem;
  width: 35%;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.416);
  padding: 3rem;
}
.leftcolumnreg form {
  display: flex;
  flex-direction: column;
}
.leftcolumnreg form label {
  font-family: "Rubik", sans-serif;
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: medium;
  margin-bottom: -10px;
  z-index: 10;
  color: #3d249b;
  font-weight: 500;
}
.leftcolumnreg form input {
  border-radius: 10px;
  padding: 1rem 1rem;
  outline: none;
  border: none;
  font-weight: bold;
}
.leftcolumnreg input:focus {
  /* outline: 2px solid #6439ff5d; */
  box-shadow: 0px 0px 15px 2px #6439ff62;
}
.regsubmitbutton {
  border-radius: 15px;
  padding: 1rem 1rem;
  outline: none;
  border: none;
  color: white;
  width: 35%;
  background-image: linear-gradient(#6439ff, #3d249b);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin: auto;
  margin-top: 2rem;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.regerrormsg {
  margin-top: 1rem;
  color: red;
  font-weight: bold;
}
