.scannerwrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.qrcontainer {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .data {
    font-size: larger;
    font-weight: bold;
  }
}
.qrscannerstream {
  border-radius: 1rem;
  border: 3px solid rgb(230, 107, 255);
}
.qrtitle {
  margin-bottom: 5rem;
}
